### Strings

- Text in programming languages is called a string.
- Strings are sequences of characters.
- In Python specifically, strings are sequences of Unicode characters. In other languages, there might be ASCII characters, but Python uses Unicode.
- In the 70s and 80s, computers were 8-bit, so only a limited number of characters could be represented. This small range was a limitation.
- As computing progressed and creators noticed the need to represent many languages, ASCII became insufficient due to its 8-bit limitation. Hence, a 16-bit character set called Unicode was introduced.
- A 16-bit character set means \(2^{16}\) combinations, allowing storage of a large number of characters from different languages.

#### Topics:
1. Creating Strings
2. Accessing Strings
3. Adding Characters to Strings
4. Editing Strings
5. Deleting Strings
6. Operations on Strings
7. String Functions

### 1. Creating Strings

There are various ways to create Python strings:
- Using single quotes: `s = 'python'`
- Using double quotes: `s = "python"`
- Using triple single quotes (for multiline strings): `s = '''python'''`
- Using triple double quotes (also valid for multiline strings): `s = """python"""`

In [3]:
s = 'python'

s = "python"

s = '''python''' # used for multiline string
s = """python""" # this is also valid 
print(s)

python

In [6]:
"it's raining outside" # in such scenarios use double

"it's raining outside"

### 2. Accessing Substrings from a String

If you have a string, you can extract a particular character or substring using indexing and slicing:

- **Positive Indexing**: Python automatically assigns an index to each character starting with zero.
- **Negative Indexing**: Python assigns negative indices starting from -1 for the last character.

Examples:
- Positive Indexing: `s[0]` extracts the first character.
- Negative Indexing: `s[-2]` extracts the second-to-last character.
- Slicing: `s[0:5]` extracts a substring from index 0 to 4.
- Step Size: `s[0:5:2]` extracts characters from index 0 to 4, stepping by 2.
- Reversing: `s[::-1]` reverses the string.

In [8]:
# positive indexing
# when we create string python will automaatically assign a index to each of the characters starting with zero
# this is positive indexing since moving from 0 to positive no

s = 'hello world' 

print(s[0])

h

In [9]:
# negative indexing
# python will assign last index as negative from last to first
# this helps when we dont know the length of the string we still can remove the last character
s = 'hello world' 

print(s[-2])

l

In [20]:
# slicing
# we can extract more than one character
# then here in square bracket will provide the range from where to where ddo we want to slice 

s = 'hello world' 

print(s[0:5])

# here we can also give third no i.e step size

print(s[0:5:2])

# using negative steps i.e to reverse

print(s[8:0:-2])

# code to reverse entire thing in one line

print(s[::-1])

hello
hlo
rwol
dlrow olleh

###  4. editing strings

In [25]:
s = 'hello world' 

s[0] = 'H'

TypeError: 'str' object does not support item assignment

- **'str' object does not support item assignment**: In Python, once you create a string, you can't change or edit it. The technical term for this is immutability.
- **Python strings are immutable; they can't be changed once they are created.**

### 5. Deleting Strings

- We use the `del` operator in Python to delete strings or variables.

In [26]:
s = 'hello world' 

del s

In [27]:
print(s)

NameError: name 's' is not defined

In [28]:
s = 'hello world' 

del s[1:5]
print(s)

TypeError: 'str' object does not support item deletion

- We can't do this since Python strings are immutable, and changes to strings are not allowed.

### 6. Operations on Strings

- **Arithmetic Operations**: Works with multiplication and addition.
- **Relational Operations**: All relational operators work with strings.
- **Logical Operations**: Empty strings are considered `False`, and non-empty strings are considered `True`.
- **Loops on Strings**: Strings can be iterated over in loops.
- **Membership Operations**: Check if a substring is present in a string.

In [32]:
# arithmetic operations

print('mumbai'+ ' ' +'boston') # string concatenation

print('mumbai'*5) # it will multiply 5 times

mumbai boston
mumbaimumbaimumbaimumbaimumbai

In [33]:
# relational operations

'boston' == 'mumbai'

False

In [38]:
'boston' > 'mumbai'
# strings are being compared lexiographically
# so the letter which comes first is bigger thane the other

False

In [36]:
'boston' > 'Mumbai'

True

- true since capital letter aschi values is smaller than small

In [40]:
#  logical operations

'' and 'world'
# empty string and world , empty string represent false
# so and operator give true when both are true in this case therese empty string which is false hence it will give false i.e emoty string

''

In [41]:
'' or 'world'

'world'

In [42]:
'hello' or 'world'

'hello'

- When Python sees an initial condition that is true, the condition for `or` is that any one of the operands being true makes the whole expression true. Hence, it printed the initial value, which is `hello`.
- In the case of `and`, if all conditions are true, the result is true. Python evaluates all conditions, and if they are all true, it gives the output after analyzing all strings.

In [44]:
'hello' and 'world'

'world'

In [45]:
not ''

True

In [46]:
not 'hello'

False

### Loops on Strings

- In Python, loops can iterate over strings.
- Strings in Python are iterable, which allows loops to operate on them.

In [47]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [51]:
for i in 'boston':
    print('mumbai')

mumbai
mumbai
mumbai
mumbai
mumbai
mumbai

**membership operations**

In [52]:
'B' in 'Boston'

True

### 7. String Functions

- A string is a data type.
- To handle this data type, there are several functions available.
- Commonly used functions applicable to all data types (e.g., strings, lists, sets, dictionaries, tuples) include:

  - `len()`
  - `max()`
  - `min()`
  - `sorted()`

In [54]:
# len

len('hello world')

11

In [56]:
# max - it will select the max character based on aschi value

max('hello world')

'w'

In [57]:
min('helloworld')

'd'

In [60]:
# sorted - it will do the sorting
# ouptut is not string its list
# values are sorted based on aschi values in ascending order

sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [61]:
sorted('hello world', reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

#### Functions Specific to Strings

### Capitalize / Title / Upper / Lower / Swapcase

- **`capitalize()`**: Capitalizes the first character of the string and converts the rest to lowercase.
- **`title()`**: Capitalizes the first character of each word in the string.
- **`upper()`**: Converts all characters in the string to uppercase.
- **`lower()`**: Converts all characters in the string to lowercase.
- **`swapcase()`**: Swaps the case of all characters in the string (uppercase to lowercase and vice versa).

In [82]:
# capitalize = it will make first letter capital

s = 'hello world'
print(s)
s.capitalize()

# note: when we are applying a function theres no change in the original function
# a new string is being formed in memory
# same with other function as well

hello world

'Hello world'

In [64]:
# Title - will make both letters capital

s = 'hello world'
s.title()

'Hello World'

In [65]:
s.upper()

'HELLO WORLD'

In [66]:
s.lower()

'hello world'

In [67]:
s.swapcase()

# it will make capital lower and lower capital

'HELLO WORLD'

### Count/Find/Index

In [68]:
'pandas is used for data manipulation'.count('s')

3

In [69]:
 'pandas is used for data manipulation'.find('is')

7

In [71]:
# if you try finding something that doesnt exist it will return -1

'pandas is used for data manipulation'.find('z')

-1

In [72]:
'pandas is used for data manipulation'.index('is')

7

In [73]:
# this will throw error

'pandas is used for data manipulation'.index('z')

ValueError: substring not found

### endswith/startswith

In [74]:
'pandas is used for data manipulation'.endswith('z')

False

In [76]:
'pandas is used for data manipulation'.startswith('pan')

True

### format

In [78]:
name  = 'saurabh'
occupation = 'student'

'Hi my name is {} and i am a {}'.format(name,occupation)

'Hi my name is saurabh and i am a student'

In [81]:
'Hi my name is {1} and i am a {0}'.format(occupation,name)

# we can decide the position as per our convenience

'Hi my name is saurabh and i am a student'

### `isalpha()` / `isdigit()` / `isalnum()` / `isidentifier()`

- **`isalpha()`**: Checks if all characters in the string are alphabetic (i.e., letters only).
- **`isdigit()`**: Checks if all characters in the string are digits (i.e., numeric characters only).
- **`isalnum()`**: Checks if all characters in the string are alphanumeric (i.e., letters and/or digits).
- **`isidentifier()`**: Checks if the string is a valid identifier (i.e., it follows the rules for variable names in Python).

In [86]:
'python36'.isalnum()

True

In [89]:
# checks if everything is alpha or not
'python'.isalpha()

True

In [91]:
'1234'.isdigit()

True

In [93]:
'1name'.isidentifier()
# it check if its the valid identifier or nor

False

In [94]:
'name1'.isidentifier()

True

### split/join

- `split` breaks a given sentence word by word and adds it to a Python list.
- `join` is the reverse operation where you join words to form a sentence.

In [96]:
'pandas is used for data manipulation'.split()

['pandas', 'is', 'used', 'for', 'data', 'manipulation']

In [97]:
'pandas is used for data manipulation'.split('i')

['pandas ', 's used for data man', 'pulat', 'on']

In [98]:
'pandas is used for data manipulation'.split('data')

['pandas is used for ', ' manipulation']

In [99]:
" ".join(['pandas', 'is', 'used', 'for', 'data', 'manipulation'])

'pandas is used for data manipulation'

In [100]:
" - ".join(['pandas', 'is', 'used', 'for', 'data', 'manipulation'])

'pandas - is - used - for - data - manipulation'

### replace
- replaces a particular substring

In [102]:
'pandas is used for data manipulate'.replace('manipulate','manipulation')

'pandas is used for data manipulation'

### strip
- it removes all trailing spacesspaces

In [107]:
'                     python 3.6                          '

'                     python 3.6                          '

In [108]:
'                     python  3.6                        '.strip()

'python  3.6'

###  Tasks:

#### find the length of a given string without using the len() function

In [10]:
s = input('enter string:')

counter = 0
for i in s:
    counter += 1
    
print('length of given string is:',counter)

enter string: pandas is used for data manipulation

length of given string is: 36

#### extract username from a giveen email
- eg. if username is: saurabhchavan0717@gmail.com
- then username would be saurabhchavan0717

In [14]:
email = input('enter email')
split = email.split('@')
user = split[0]
print(user)

enter email saurabhchavan0717@gmail.com

saurabhchavan0717

#### without using split
- find @ position 
- do the slicing

In [19]:
email = input('enter email')
position = email.index('@')
print(email[0:position])

enter email saurabhchavan0717@gmail.com

saurabhchavan0717

#### count the frequency of a particular character in a provided string.
- eg. 'python is a programming' is the string, the frequency of p in this string is 2

In [33]:
s = input('enter any sentence:')
char = input('what would you like to search for')

counter = 0
for i in s:
    if i == char:
        counter += 1
c = 'frequency of {} is:'.format(char)
print(c, counter)

enter any sentence: python is a programming language
what would you like to search for p

frequency of p is: 2

#### Write a program which can remove a particular character from a string

- Strings are immutable in Python.
- Thus, we cannot directly remove a character from a string.
- Instead, we need to create a new string, excluding the character we want to remove, and include the rest of the characters.

In [40]:
s = input('enter the string :')
term = input('what would you like to remove :')

result = ''
r = "result after removing '{}':".format(term)
for i in s:
    if i != term:
        result = result + i

print(r,result)

enter the string : hello world
what would you like to remove : l

result after removing 'l': heo word

#### Write a program that can check whether a given string is a palindrome or not

- Palindromes are strings that read the same forward and backward.
- Examples of palindromes include "racecar" and "radar".

In [42]:
s = input('enter a string')
flag = True

for i in range(0,len(s)//2):
    if s[i] != s[len(s) - i - 1]:
        flag = False
        break

if flag == True:
    print('palindrome')

enter a string racecar

palindrome

#### write a program to count the number of words in a string without split()

In [47]:
s = input('enter string')

L = []
temp = ''

for i in s:
    
    if i != ' ':
        temp = temp + i
    else:
        L.append(temp)
        temp = ''
L.append(temp) # append the last word

count = 0 

for i in L:
    if i: # Check if the string is not empty
        count += 1 # Increment the word count
    
print(f'List of words: {L}')
print(f'Number of words: {count}')

enter string hello world

List of words: ['hello', 'world']
Number of words: 2

#### write a program to convert a string to title case without using the title()

In [50]:
s = input('enter the string:')

L = []
for i in s.split():
    L.append(i[0].upper() + i[1:].lower())
    
print(" ".join(L))

enter the string: python is a programming lang

Python Is A Programming Lang

In [52]:
# L =[]
# s = 'python is a programming lang'
# L = s.split()

In [54]:
# L

['python', 'is', 'a', 'programming', 'lang']

In [56]:
# L[1:]

['is', 'a', 'programming', 'lang']

#### Write a program that can convert an integer to string

In [63]:
number = int(input('Enter the number: '))

# A string containing all possible digits (0-9)
digits = '0123456789'

# Initialize an empty string to store the result (converted string)
result = ''

# Continue looping until the number is reduced to 0
while number != 0:
    # Extract the last digit of the number using modulo 10
    # Find the corresponding character from the 'digits' string and prepend it to the 'result'
    result = digits[number % 10] + result
    
    # Remove the last digit from the number by performing integer division by 10
    number = number // 10

print(result)
print(type(result))

Enter the number:  177

177
<class 'str'>