# Tuples

**A tuple in Python is similar to a list.** The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, **a tuple is an immutable list.** A tuple can not be changed in any way once it is created.

Characterstics

- Ordered - order matters so 1,2,3 is not equal to 3,2,1 so just like list here also order matters
- Unchangeble 
- Allows duplicate

  ### Content

- Creating a Tuple
- Accessing items 
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

- **Syntax:** 
  - For lists, we use square brackets: `[]`
  - For tuples, we use small brackets: `()`

In [2]:
# empty tuple

t1 = ()
print(t1)

()

In [5]:
# create a tuple with a single item

# wrong way

t2 = (2)
print(type(t2))

<class 'int'>

In [6]:
# right way

t2 = (2,)
print(t2)
print(type(t2))

(2,)
<class 'tuple'>

In [8]:
# homogenious tuple

t3 = (1,2,3,4)
print(t3)
print(type(t3))

(1, 2, 3, 4)
<class 'tuple'>

In [10]:
# heterogenious tuple

t4 = (1,2,3,True,[1,2,3])
print(t4)
print(type(t4))

(1, 2, 3, True, [1, 2, 3])
<class 'tuple'>

In [12]:
# 2d tupe i.e tuple within a tuple

t5 = (1,2,3,(4,5))
print(t5)

(1, 2, 3, (4, 5))

In [13]:
# using tuple function we can do type conversion

t6 = tuple('hello')
print(t6)

('h', 'e', 'l', 'l', 'o')

### Acessing items
- indexing
- slicing

In [14]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [17]:
print(t5)
t5[-1][0]

(1, 2, 3, (4, 5))

4

In [19]:
# slicing
print(t3)

print(t3[0:2])

(1, 2, 3, 4)
(1, 2)

### editing items

In [20]:
print(t3)
t3[0] = 100

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

-Immutable just like strings

### Adding items

In [23]:
print(t3)
# not possible to add anything into t3
# in case of list we had append, insert, extend but here its not possible

(1, 2, 3, 4)

### Deleting items

In [25]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined


- **Deleting the Entire Tuple:**
  You can delete the entire tuple using the `del` statement.

### Operations on Tuples

In [26]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuple Functions

In [29]:
# len/sum/min/max/sorted
t = (1,2,3,4)

print(len(t))

print(sum(t))

print(min(t))

print(max(t))

sorted(t,reverse=True)

4
10
1
4

[4, 3, 2, 1]

In [31]:
# count

t = (1,2,3,4,5)

t.count(5) # it will tell frequency of 5

1

In [32]:
# index
t.index(5)

4

### Difference between Lists and Tuples

- **Syntax**  
  Lists are created using square brackets `[]`, while tuples are created using parentheses `()`.

- **Mutability**  
  Lists are mutable, meaning their elements can be changed after creation. Tuples are immutable, meaning their elements cannot be changed once they are created.

- **Speed**  
  Immutable data types, such as tuples, are generally faster than mutable types like lists. This is due to the optimizations in Python for immutable objects.

- **Memory**  
  Tuples take up less memory compared to lists. This is because tuples have a fixed size, which allows for more efficient memory usage.

- **Built-in Functionality**  
  Lists have more built-in methods and functions compared to tuples. For example, lists have methods like `append()`, `extend()`, and `remove()` that tuples do not support.

- **Error Prone**  
  Since tuples are immutable, there is less chance of making mistakes related to unintended modifications. This immutability can lead to fewer bugs compared to mutable lists.

- **Usability**  
  The primary difference lies in mutability. Tuples are often used for fixed collections of items that should not change, making them suitable for read-only applications. Lists are preferred in situations where items need to be modified, added, or removed frequently.

#### speed comparison

In [34]:
import time 

L = list(range(10000))
T = tuple(range(10000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 0.0019948482513427734
Tuple time 0.000997304916381836

#### memory comparison

In [35]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

#### eg of why list are more prone to error

In [36]:
 a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [37]:
a = (1,2,3)
b = a

a = a + (4,) # since there is no as such append function for tuple will do this
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

- **Immutability and Debugging**  
  In the case of tuples, if you modify a tuple (e.g., by adding elements), the original tuple remains unchanged, whereas in lists, modifying the list affects all references to it. For example:

### special syntax

- we can unpack a tuple value and store it in a variable

In [38]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [39]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

- during unpacking variables and values in tuples must be same

In [42]:
# swapping values
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [43]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

- **Extracting and Storing Values**  
  If you want to extract the first few values from a tuple and store the remaining values in a list, you can use tuple unpacking with the `*` operator. For example:

In [47]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [49]:
(x for x in a)